html {
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 50px;
}
    h1 {
        font-size: 90px;
        color: rgb(173, 167, 167);
}
    p {
        margin: 20px;
        color: white;
}
    .imagem-segunda {
        transform: rotate(-90deg);
        margin-right: 200px;
        
}
    .texto-segunda-foto {
       color: white;
}
    .container-imagem-texto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
  }
  @media only screen and (max-width: 600px){
    h1 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
      .imagem-segunda {
        transform: rotate(-90deg);
        margin-right: 100px;
        width: 240px;
  }
}